.people-list {
  width: 90%;
  box-sizing: border-box;
}

.avatar {
  width: 2.7em;
  height: 2.7em;
}

.people-list-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.8em;
  margin-bottom: 1em;
}

.people-list-header input {
  width: 70%;
  height: 3em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 0.2em;
}

.people-list-header input:focus {
  border: 1px solid #1976d2;
}

.button {
  padding: 0.8em 1.12em 0.8em 1.12em;
  color: #1976d2;
  background-color: #fff;
  border: 1px solid #1976d2;
  border-radius: 3px;
}

.switch-page {
  border: none;
  color: gray;
}
.active {
  color: white;
  background-color: #1976d2;
}

label {
  margin-right: 0.5em;
}

table {
  font-size: 14px;
  border-collapse: collapse;
}

table a {
  color: #20b2aa;
}
td, th {
  text-align: left;
  padding: 1.2em 5.2em 1.2em 0.8em;
}

tr { 
  border: 0.8px solid #ccc;
}
tbody tr:last-child {
  border-bottom: 2px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}
